* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#080050;
}

.maintitle{
    color:white;
    width:310px;
    margin: auto;
    font-size:60px;
    margin-top:100px;
}

.main-source{
    display:flex;
    width:975px;
    height: 300px;
    margin:auto;
    border:5px solid white;
    margin-top:100px;
    justify-content: space-around;
    padding:20px;
}

.main-destiny{
    display:flex;
    width:975px;
    height: 300px;
    margin:auto;
    margin-top:100px;
}

.destiny1, .destiny2,.destiny3 {
    width:325px;
    height: 300px;
    border:5px solid white;
}

.footer{
    width:200px;
    color:white;
    font-size:25px;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
}

.number1, .number2, .number3 {
    align-items: center;
    text-align: center;
    padding-top:40px;
    width:200px;
    height: 200px;;
    background-color: #006AFF;
    margin-top:20px;
    color:white;
    font-size: 100px;
}

.reset{
    width:150px;
    height:50px;
    font-size: 20px;
    background-color: #66a0f0;
    color:white;
    font-weight: bold;
    margin:auto;
    margin-top:50px;
}

.divButton{
    width:150px;
    margin:auto;
}

